sounddevice
google-genai
Pillow
requests
beautifulsoup4
duckduckgo-search
colorthief
python-docx
playwright          
pyautogui
pyperclip
pygetwindow       
opencv-python
numpy
mss
psutil
comtypes
pycaw               
win10toast          
send2trash
youtube-transcript-api
pywinauto
python-pptx
pyqt6
PyPDF2
pdfplumber
mysql-connector-python
fpdf
